.header__label-burger{
    z-index: 1;
}



.header__burger-input{
    display: none;
}

#check:checked ~ .header__nav-list {
    transform: translateY(0);   
    transform: translateX(-100%); 
    background-color: rgba(126, 90, 255, 1);
    width: 200px;
    height: 400px;
    
}

/*.burger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    cursor: pointer;
    .burger-icon {
      width: 30px;
      height: 3px;
      background-color: #000;
      position: relative;
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        left: 0;
        transition: transform 0.3s ease;
      }
      &::before {
        top: -10px;
      }
      &::after {
        top: 10px;
      }
    }
  }
  
  .burger-menu.active .burger-icon {
    background-color: transparent;
    &::before {
      transform: translateY(10px) rotate(45deg);
    }
    &::after {
      transform: translateY(-10px) rotate(-45deg);
    }
  }*/

    @media (min-width: 576px){
        .header__label-burger{
            display: none;
        } 

        
    }



    