.main__forth-block{

 max-width: 1600px;
 width: 100%;
 max-height: 978px;
 height: 100%;
 background-image: url(../assets/blokFour__background.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 //border: 2px solid red;
 padding-top: 150px;
 margin-bottom: 150px;

 .devision-white{
    border: 1px solid rgba(255, 255, 255, 1);
    width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
 }

 h3{
   font-size: $h3-font-size; 
   font-family: $h3-font-family;
   color: white;
   text-transform: uppercase;
   margin-bottom: 90px;
 }
 
 
.forth-block_mySlides{
    
    margin: 0 auto;
    height: 530px;
   
    max-width: 1250px;
    width: 100%;
    
    
    
 .forth-block__cardSlide{
    
       
    height: 100%;
    max-width: 1200px;
    width: 100%;    
    justify-content: space-between;
          
    height: 100%;         
    left: 23px;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;

    
    
      .forth-block__card{
        display: inline-block;
        height: auto;
        max-width: 370px;
        width: 100%;
        text-align: left;
        margin-right: 20px;
        background-color: rgb(255, 255, 255, 1);
        
        
        


        .card__text{
            padding: 20px 20px 30px 20px;

            p{
               font-family: $p-font-family; 
               font-size: $p-font-size;
               padding-bottom: 20px;
            }
        }
        
        
    }
}
}


  
 .sidebar {
    width: 200px;        
    color: white;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 52px;
    padding: 10px;
    margin: 0 auto;
    margin-top: auto;
    //border: 2px solid red;
    position: relative;
    
    

    
    
    .forth-block_dot {
        //background-color: red;
        border: none;
        color: white;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover{
            transform: scale(1.5);}
    
    
}  
    
    
}
}

 

@media (min-width: 768px){

    .main__forth-block{
        height: 978px;

        
    }
    
}

@media (max-width: 768px){

    .main__forth-block{
        height: auto;
}
}
