main{
    //max-width: 1170px;
    width: 100%;
    height: auto;
    margin: 0 auto;  
    text-align: center;
    overflow: visible;
    //border: 2px solid violet;
    //position: relative;
    
} 

@media (min-width: 768px){
   main{
    margin-top: 223px; }
}

@media (max-width: 768px){

}
 